<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="BMSConnectionString" connectionString="Data Source=YOUR_SQL_SERVER;Initial Catalog=BMS_TEST;Persist Security Info=True;User ID=sa;Password=YOUR_PASSWORD;TrustServerCertificate=true;" providerName="System.Data.SqlClient" />
    <add name="LoginConnectionString" connectionString="Server=YOUR_SQL_SERVER;Database=OneSystem;User Id=sa;Password=YOUR_PASSWORD;TrustServerCertificate=true;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="EPPlus:ExcelPackage.License" value="NonCommercialOrganization:KingPower" />
    <add key="SAPAPI_BASEURL" value="http://127.0.0.1:18080" />
    <add key="SAPAPI_USERNAME" value="mock-user" />
    <add key="SAPAPI_PASSWORD" value="mock-password" />
  </appSettings>
</configuration>
